{{page-title "ember-flash-notifications addon"}}
{{component this.currentComponent}}

<div class="h-screen py-6 flex justify-center">
  <main class="max-w-screen-xl h-full w-full bg-white">
    <div class="p-4">
      <div class="grid grid-cols-6 gap-4 items-center mb-4">
        <div class="col-span-4">
          <h1>ember-flash-notifications</h1>
        </div>
        <div class="col-span-2 justify-self-end">
          <a href="https://github.com/alexeipanov/ember-flash-notifications" title="repository" class="hover:text-rose-600 transition-colors">
            <Icons::FabGithub class="w-10 h-10" />
          </a>
        </div>
      </div>
      <div class="grid grid-cols-6 gap-4">
        <div class="col-span-6">
          <h2>Idea</h2>
          <p>This is an experimental addon using popover API to display flash notification messages.</p>
        </div>
        <div class="col-span-6">
          <h2>Installation</h2>
          <CodePreview class="command-line language-bash">ember install ember-flash-notifications</CodePreview>
        </div>
        <div class="col-span-6">
          <h2>Usage</h2>
          <h3>Minimal implementation</h3>
          <TabsContainer
            @tabs={{this.minTabs}}
            as |activeTab|
          >
            <TabContent @id="hbs" @activeTab={{activeTab}}>
              <FilePreview class="language-markup" @source="sources/min-template.hbs" />
            </TabContent>
            <TabContent @id="js" @activeTab={{activeTab}}>
              <FilePreview class="language-javascript" @source="sources/min-code.js" />
            </TabContent>
            <TabContent @id="css" @activeTab={{activeTab}}>
              <FilePreview class="language-css" @source="sources/min-style.css" />
            </TabContent>
          </TabsContainer>
        </div>

        <div class="col-span-6">
          <button onClick={{action "showMinimalExample"}} type="button" class="py-2 px-6 w-[15rem] rounded-sm border border-rose-600 text-rose-600 font-bold">Show notification</button>
        </div>

        <div class="col-span-6">
          <h3>Different notification types</h3>
          <button onClick={{fn this.showTypeExample 'error'}} type="button" class="py-2 px-6 w-[15rem] rounded-sm border border-rose-600 text-rose-600 font-bold">Show error message</button>
          <button onClick={{fn this.showTypeExample 'warning'}} type="button" class="py-2 px-6 w-[15rem] rounded-sm border border-rose-600 text-rose-600 font-bold">Show warning message</button>
          <button onClick={{fn this.showTypeExample 'success'}} type="button" class="py-2 px-6 w-[15rem] rounded-sm border border-rose-600 text-rose-600 font-bold">Show success message</button>
          <button onClick={{fn this.showTypeExample 'info'}} type="button" class="py-2 px-6 w-[15rem] rounded-sm border border-rose-600 text-rose-600 font-bold">Show info message</button>
        </div>

        <div class="col-start-1">
          <button onClick={{fn this.addNotification "error"}} type="button" class="py-2 px-6 w-full rounded-sm bg-red-600 text-white">Error</button>
        </div>
        <div class="col-start-1">
          <button onClick={{fn this.addNotification "warning"}} type="button" class="py-2 px-6 w-full rounded-sm bg-orange-600 text-white">Warning</button>
        </div>
        <div class="col-start-1">
          <button onClick={{fn this.addNotification "success"}} type="button" class="py-2 px-6 w-full rounded-sm bg-emerald-600 text-white">Success</button>
        </div>
        <div class="col-start-1">
          <button onClick={{fn this.addNotification "info"}} type="button" class="py-2 px-6 w-full rounded-sm bg-sky-600 text-white">Info</button>
        </div>
        <div class="col-start-1">
          <button onClick={{fn this.addNotification "custom"}} type="button" class="py-2 px-6 w-full rounded-sm bg-blue-600 text-white">Custom</button>
        </div>
        <div class="col-start-1">
          <button onClick={{this.clearNotifications}} type="button" class="py-2 px-6 w-full rounded-sm bg-sky-600 text-white">Clear</button>
        </div>

        <div class="col-span-4 col-start-1">

        </div>
      </div>
    </div>
  </main>
</div>
